<p id="notice"><%= notice %></p>

<h1>Polizas</h1>
<h2>IP: <%= @ip_address %> <%= @fecha.strftime("at %d-%m-%Y  %T") %></h2>
<%= link_to 'New Poliza', new_poliza_path %>
<br><br>

<table>
  <thead>
    <tr>
      <th>Poliza a migrar</th>
      <th>Prima</th>
      <th>Fecha migracion</th>
      <th>Observacion</th>
      <th>Ip</th>
      <th>Conciliacion</th>
      <th>Fecha de Conciliacion</th>
      <th>Fecha de Nacimiento</td>
      <th>Anulada</th>
      <th>Fecha de Anulacion</th>
      <th>Migrada</th>
      <th>Poliza Migrada</th>
      <th>Fecha de Nueva Poliza</th>
      <th>Observacion migracion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% cache @polizas do %>
    <% @polizas.each do |poliza| %>
      <% cache poliza do %>	
      <tr>
        <td><%= poliza.poliza_a_migrar %></td>
        <td><%= poliza.prima %></td>
        <td><%= poliza.fecha_migracion %></td>
        <td><%= truncate(poliza.observacion, length:10) %></td>
        <td><%= poliza.ip %></td>
        <td><%= poliza.conciliacion %></td>
        <td><%= poliza.fecha_conciliacion %></td>
        <td><%= poliza.fecha_nacimiento %></td>
        <td><%= poliza.anulada %></td>
        <td><%= poliza.fecha_anulada %></td>
        <td><%= poliza.migrada %></td>
        <td><%= poliza.poliza_migrada %></td>
        <td><%= poliza.poliza_migrada_fecha %></td>
        <td><%= truncate(poliza.observacion_migracion, length:10) %></td>
        <td><%= link_to 'Show', poliza %></td>
        <td><%= link_to 'Edit', edit_poliza_path(poliza) %></td>
        <td><%= link_to 'Destroy', poliza, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    <% end %>
  <% end %>  
</tbody>
</table>

